<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egli</title>
</head>
<body>
    <h1>welcome to Egli url shortner</h1>    
    <form action="/shortUrls" method="POST">
        <label for="url">Enter your url</label>
        <input type="text" name="url" placeholder="enter url">
        <input type="submit" value="shorten">
    </form>
    <table>
        <tr>
            <th>original url</th>
            <th>short url</th>
            <th>clicks</th>
        </tr>
    </table>

</body>
</html> 